{% extends 'shop/layouts/main.html' %}

{% block title %}
Home | TapLK
{% endblock title %}

{% block content %}
<section class="bg-light py-4 my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3">{{category_name}} product</h4>
                <hr style="border-color: #b8bfc2;">
            </div>
            {% include 'shop/inc/message.html' %}
            {% for item in products %}
            <div class="col-md-4 col-lg-3">
                <div class="card my-3 h-100">

                    {% if item.product_image %}
                    <img src="{{ item.product_image.url }}"
                         class="card-img-top"
                         alt="{{ item.name }}"
                         style="height:200px; object-fit:cover;">
                    {% endif %}
                    <a href="{% url 'product_detail' category_name item.name %}">
                    <div class="card-body">
                            <h5 class="card-title text-primary">{{ item.name }}</h5>
                            <p class="card-text old-price float-start">
                            <del>Rs. {{ item.original_price | stringformat:'d' }}</del>
                            </p>
                            <p class="card-text new-price float-end">
                            Rs. {{ item.selling_price | stringformat:'d' }}
                            </p>                        
                    </div>
                    </a>

                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
{% endblock content %}
