
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html{
    font-size: 14px;
}
body {
  font-family: 'Noto Sans', sans-serif;
}
a{
    text-decoration: none;
}

.carousel-item img {
  object-fit: cover;
  object-position: top;
  height: 60vh;
  overflow: hidden;
}

.old-price{
  font-weight: bold;
  color: red;

}
.new-price{
    font-weight: bold;
    background-color: green;
    padding: 2px;
    color: white;
    border-radius: 5px;
}